<div class="diary-container">
    <div class="diary-header">
      <h1>Audio Deepfake Recognition Project</h1>
      <p class="subtitle">Final Project in Computer Science</p>
    </div>
  
    <!-- Starting Point -->
    <div class="diary-entry">
      <div class="entry-marker"></div>
      <h2>Starting from Scratch</h2>
      <div class="diary-content">
        <p>
          We began our deep learning journey with no prior knowledge. Followed by a recommendation from our instructor we participated in the deep learning course by Andrew NG (coursera). We built strong foundation and understanding of the deep learning world in order to begin our research.
        </p>
        <!-- <img src="images/DLnotebook.png" alt="Starting Point" class="diary-image" /> -->
      </div>
    </div>
  
    <!-- Milestone 1 -->
    <div class="diary-entry">
      <div class="entry-marker"></div>
      <h2>Problem</h2>
      <div class="diary-content">
        <p>
          To be updated
        </p>
        <!-- <img src="path_to_image2.jpg" alt="First Milestone" class="diary-image" /> -->
      </div>
    </div>
  
    <!-- Milestone 2 -->
    <div class="diary-entry">
      <div class="entry-marker"></div>
      <h2>Learning Backpropagation</h2>
      <div class="diary-content">
        <p>
To be updated        </p>
        <!-- <img src="path_to_image3.jpg" alt="Backpropagation" class="diary-image" /> -->
      </div>
    </div>
  
  