<div class="container">
    <div class="header">
        <div class = "container">
            <h1>Hi! I'm</h1>
            <h1>Avichai</h1>
          </div>

        
    </div>
    <div class="content">
        <p>Software Developer</p>
      

        <button class="button-28" routerLink="/resume">About Me</button>
    </div>


    <div class="social-icons">
        <a href="https://www.linkedin.com/in/avihyb"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/avihyb"><i class="fab fa-github"></i></a>
    </div>
    
</div>

