<div class="container">
    <div class="header">
        <a>Welcome</a>
        <img src="https://via.placeholder.com/150" alt="John Doe">
        </div>
    <p>My name is <span class="highlight">Avichai Ben David</span> and I am a <span class="highlight">Web Developer</span>.</p>
    <p>I am a <span class="highlight">Full Stack Developer</span> with experience in <span class="highlight">HTML, CSS, JavaScript, Angular, Node.js, Express.js, MongoDB, and more</span>.</p>
    <p>Feel free to check out my <span class="highlight">Projects</span> and <span class="highlight">Resume</span> to learn more about me.</p>
    <p>Thank you for visiting my website!</p>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/avihyb" target="_blank" class="fab fa-linkedin fa-lg" title="LinkedIn"></a>
        <a href="https://github.com/avihyb" target="_blank" class="fab fa-github fa-lg" title="GitHub"></a>
    </div>
    
</div>