@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font to the entire body */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within the container */
  max-width: 800px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font to all text within .container */
}

.header {
  display: flex;
  justify-content: space-between; /* Spacing items evenly */
  align-items: center; /* Center items vertically within the header */
  width: 100%; /* Ensure full width */
}

.header a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Set text color to a dark gray */
  font-size: 3rem;
  font-weight: bold;
}

.photo {
  margin-left: auto; /* Push the photo to the right */
}

.highlight {
  font-weight: bold;
}

.content {
  display: flex; /* Make .content a flex container */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center children horizontally */
  margin-top: 20px; /* Add space between header and content */
  width: 100%; /* Ensure full width */
  font-size: 1.5rem;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center items horizontally */
  margin-top: 20px; /* Add space between social icons and content */
  width: 100%; /* Ensure icons take full width of container */
}

.social-icons a {
  text-decoration: none; /* Remove underline from links */
  color: #888; /* Set default color to gray */
  font-size: 24px; /* Adjust icon size */
  margin: 0 10px; /* Add spacing between icons */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-icons a:hover {
  color: #000; /* Change color to black on hover */
}



/* CSS */
.button-28 {
  max-width: 300px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.intro {
  font-size: 1.2rem;
  margin-top: 0px;
  top: auto;
  text-align: center;
}
.container{
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}

.container h1:nth-child(1) {
  color: #355c7d;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type .8s steps(8,end) forwards;
}

.container h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: orange;
  font-weight: 800;
  font-size: 100px;  
  width: 430px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation .8s steps(17,end) 1s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
